*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #c6cdd444;
}

.sf{
    padding: 5px;
    transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
        -moz-transition: .1s ease-in-out;
        -o-transition: .1s ease-in-out;
}

.sf:focus{
    outline: 1px solid #2f7aeb;
    outline-offset: 3px;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
        -moz-transition: .2s ease-in-out;
        -o-transition: .2s ease-in-out;
}

@media screen and (min-width:1201px){
    header{
        width: 100%;
        margin: auto;
        background-color: #0f121f;
        color: #f5f5f5;
        padding: 20px;
    }
    
    .top{
        display: flex;
        justify-content: space-around;
        width: 1180px;
        margin: auto;
    }

    .menuu 
    ,.menu{
        display: none;
    }
    
    .logo{
        margin:-5px auto;
        padding-right: 20px;
        font-size: 1.8em;
    }
    
    .navbar{
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-weight: lighter;
    }
    
    .leftnav,
    .rightnav{
        list-style: none;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: lighter;
    }
    
    .leftnav li{
       margin:auto 15px;
    }
    .rightnav li{
        margin:auto 20px;
    }

    .rightnav{
        margin-left: 190px;
    }
    
    sup{
        position: absolute;
        background-color: #5895f0;
        width: 30px;
        padding: 3px;
        text-align: center;
        margin-top: -17px;
        margin-left: -13px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-size: 11px;
    }
    
    .bbutton{
        background-color: #2f7aeb;
        border-radius: 5px;
        height: 35px;
        border-radius: 5px;
        border: none;
        color: #f5f5f5;
        padding-right: 10px;
        padding-left: 10px;
    }

    .profile{
        background-color: #6494ed70;
        list-style: none;
        padding: 20px;
        position: absolute;
        margin-top: -18px;
    }

    .pro{
        padding-right: 70px;
    }

    .content{
        margin: 40px auto;
        width: 1170px;
    }

    .managejob{
        font-weight: lighter;
        font-size: 36px;
    }

    .breadcrumb{
        margin-top: 10px;
        font-size: 13px;
        margin-left: 20px;
    }

    .jobinfo{
        background-color: white;
        padding: 20px;
        margin-top: 18px;
        border-radius: 4px;
    }

    .left{
        display: flex;
    }

    .jobtitle,
    .jobtype{
        font-weight: lighter;
    }

    .jobtitle{
        margin-top: 6px;
    }

    .jobtype{
        margin-left: 15px;
        border: 1px solid #2f7aeb;
        border-radius: 30px;
        padding: 7px;
        font-size: 14px;
        color: #2f7aeb;
    }

    .jobtop{
        display: flex;
        justify-content: space-between;

    }

    .right{
        display: flex;
    }

    .open{
        font-weight: lighter;
        background-color: #32a56f;
        color: whitesmoke;
        padding-top: 7px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 15px;
        font-size: 14px;
        margin-right: 7px;
    }
    .dot{
        font-weight: bolder;
        font-size: 23px;
        margin-top: -3px;
    }

    .dayposted{
        font-size: 13px;
        color: slategray;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .jobbottom{
        display: flex;
        justify-content: space-between;
    }

    .np{
        background-color: #2f7aeb;
        color: whitesmoke;
        padding: 5px;
        border-radius: 12px; 
    }

    .vp{
        padding: 10px;
        border: none;
        border-radius: 7px;
        background-color: #2f7aeb;
        color: whitesmoke;
    }

    .next{
        width: 800px;
        margin: 20px auto;
        display: flex;
        justify-content: space-evenly;
    }

    .sfreelancer{
        width: 350px;
        height: 160px;
        background-color: white;
        border: 2px solid  #13bd68;
        border-radius: 5px;
    }

    .postjob{
        width: 350px;
        height: 160px;
        background-color: white;
        border: 2px solid  #2f7aeb;
        border-radius: 5px;
    }

    .pb{
        margin:70px 120px;
        background-color: #2f7aeb;
        padding: 10px;
        text-align: center;
        color: whitesmoke;
        width: 100px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
    }

    .sf{
        margin:20px 25px;
        width: 300px;
        height: 35px;
        border: 1px solid rgba(112, 128, 144, 0.377);
        border-radius: 5px;
        box-shadow: 0px 1px 1px 1px rgba(54, 56, 58, 0.171) inset;
    }

    .sf2{
        margin-left: 50px;
        font-size: 20px;
    }

    .sf3{
        margin:40px auto;
    }

    .help{
        width: 740px;
        margin: 20px auto;
        padding: 20px;
        border: none;
        background-color: white;
        color: whitesmoke;
        border-radius: 5px;
    }

    .help h1{
        color: black;
        font-size: 18px;
        font-weight: 600;
    }

    .help h3 a{
        font-size: 15px;
        font-weight: lighter;
        text-decoration: none;
        color: #2f7aeb;
    }

    .q2{
        margin-top: 20px;
    }

    .q{
        color: black;
        font-size: 15px;
        font-weight: lighter;
    }

    .footer{
        display: flex;
        justify-content: space-evenly;
        margin:120px auto;
        padding-bottom: 50px;
        width: 90%;
    }

    .footer h1{
        font-size: 18px;
        color: #0000009f;
    }

    .footer h4{
        font-size: 14px;
        font-weight: lighter;
        margin-top: 15px;
    }
    .footer li{
    list-style: none;
    margin-left: 15px;
    margin-top: 3px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.541);
}
   
}

@media screen and (min-width:1024px) and (max-width:1200px) {
    header{
        width: 100%;
        margin: auto;
        background-color: rgb(15, 18, 31);
        color: whitesmoke;
        padding: 20px;
    }
    
    .top{
        display: flex;
        justify-content: space-around;
        width: 965px;
        margin: auto;
    }

    .menuu 
    ,.menu{
        display: none;
    }
    
    .logo{
        margin:-5px auto;
        padding-right: 20px;
        font-size: 1.8em;
    }
    
    .navbar{
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-weight: lighter;
    }
    
    .leftnav,
    .rightnav{
        list-style: none;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: lighter;
    }
    
    .leftnav li{
        margin:auto 15px;
     }
     .rightnav li{
         margin:auto 20px ;
     }
    
    
    sup{
        position: absolute;
        background-color: #5895f0;
        width: 30px;
        padding: 3px;
        text-align: center;
        margin-top: -17px;
        margin-left: -13px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-size: 11px;
    }
    
    .bbutton{
        background-color: #2f7aeb;
        border-radius: 5px;
        height: 35px;
        border-radius: 5px;
        border: none;
        color: whitesmoke;
        padding-right: 10px;
        padding-left: 10px;
    }

    .bell{
        position: relative;
        margin-left: 50px;
    }

    .profile{
        background-color: #6494ed70;
        list-style: none;
        padding: 20px;
        position: absolute;
        margin-left: -40px;
        margin-top: -18px;
    }

    .content{
        margin: 40px auto;
        width: 1000px;
    }

    .managejob{
        font-weight: lighter;
        font-size: 36px;
    }

    .breadcrumb{
        margin-top: 10px;
        font-size: 13px;
        margin-left: 20px;
    }

    .jobinfo{
        background-color: white;
        padding: 20px;
        margin-top: 18px;
        border-radius: 4px;
    }

    .left{
        display: flex;
    }

    .jobtitle,
    .jobtype{
        font-weight: lighter;
    }

    .jobtitle{
        margin-top: 6px;
    }

    .jobtype{
        margin-left: 15px;
        border: 1px solid #2f7aeb;
        border-radius: 30px;
        padding: 7px;
        font-size: 14px;
        color: #2f7aeb;
    }

    .jobtop{
        display: flex;
        justify-content: space-between;

    }

    .right{
        display: flex;
    }

    .open{
        font-weight: lighter;
        background-color: #32a56f;
        color: whitesmoke;
        padding-top: 7px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 15px;
        font-size: 14px;
        margin-right: 7px;
    }
    .dot{
        font-weight: bolder;
        font-size: 23px;
        margin-top: -3px;
    }

    .dayposted{
        font-size: 13px;
        color: slategray;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .jobbottom{
        display: flex;
        justify-content: space-between;
    }

    .np{
        background-color: #2f7aeb;
        color: whitesmoke;
        padding: 5px;
        border-radius: 12px; 
    }

    .vp{
        padding: 10px;
        border: none;
        border-radius: 7px;
        background-color: #2f7aeb;
        color: whitesmoke;
    }

    .next{
        width: 1000px;
        margin: 20px auto;
        display: flex;
        justify-content: space-evenly;
    }

    .sfreelancer{
        width: 485px;
        height: 160px;
        background-color: white;
        border: 2px solid  #13bd68;
        border-radius: 5px;
    }

    .postjob{
        width: 485px;
        height: 160px;
        background-color: white;
        border: 2px solid  #2f7aeb;
        border-radius: 5px;
    }

    .pb{
        margin:50px 160px;
        background-color: #2f7aeb;
        padding: 20px;
        text-align: center;
        color: whitesmoke;
        width: 150px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
    }

    .sf{
        margin:20px 90px;
        width: 300px;
        height: 35px;
        border: 1px solid rgba(112, 128, 144, 0.377);
        border-radius: 5px;
        box-shadow: 0px 1px 1px 1px rgba(54, 56, 58, 0.171) inset;
    }

    .sf2{
        margin-left: 120px;
        font-size: 20px;
    }

    .sf3{
        margin:40px auto;
    }

    .help{
        width: 1000px;
        margin: 20px auto;
        padding: 20px;
        border: none;
        background-color: white;
        color: whitesmoke;
        border-radius: 5px;
    }

    .help h1{
        color: black;
        font-size: 18px;
        font-weight: 600;
    }

    .help h3 a{
        font-size: 15px;
        font-weight: lighter;
        text-decoration: none;
        color: #2f7aeb;
    }

    .q2{
        margin-top: 20px;
    }

    .q{
        color: black;
        font-size: 15px;
        font-weight: lighter;
    }

    .footer{
        display: flex;
        justify-content: space-evenly;
        margin-top: 120px;
        padding-bottom: 20px;
        width: 1000px;
        margin:150px auto;
    }

    .footer h1{
        font-size: 18px;
        color: #0000009f;
    }

    .footer h4{
        font-size: 14px;
        font-weight: lighter;
        margin-top: 15px;
        
    }
    .footer li{
    list-style: none;
    margin-left: 15px;
    margin-top: 3px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.541);
}
}

@media screen and (min-width:768px) and (max-width:1023px) {
    header{
        width: 100%;
        margin: auto;
        background-color: rgb(15, 18, 31);
        color: whitesmoke;
        padding: 20px;
    }
    
    .top{
        display: flex;
        justify-content: space-around;
        width: 740px;
        margin: auto;
    }
    
    .menuu 
    ,.menu{
        display: none;
    }

    .logo{
        margin-left: 10px;
        padding-right: 20px;
        font-size: 1.8em;
        text-shadow: 0px 0px 2px whitesmoke;
    }
    
    .navbar{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .leftnav,
    .rightnav{
        list-style: none;
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        font-weight: lighter;
        
    }

    .leftnav li{
        margin-left: -15px;
    }
    
    .leftnav li, .rightnav li{
       margin: 15px;
    }

    .rightnav{
        padding-right: 15px;
    }


    .profile{
        background-color: #6494ed70;
        list-style: none;
        padding: 20px;
        position: absolute;
        margin-left: -60px;
        margin-top: -12px;
    }

    .pro{
        padding-right: 10px;
    }
    
    sup{
        position: absolute;
        background-color: #5895f0;
        width: 30px;
        padding: 3px;
        text-align: center;
        margin-top: -17px;
        margin-left: -13px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-size: 11px;
    }

    .bbutton,
    .bell,
    .info{
        display: none;
    }
    
    .bbutton{
        background-color: #2f7aeb;
        border-radius: 5px;
        height: 40px;
        border-radius: 5px;
        border: none;
        color: whitesmoke;
        margin-top: 5px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .content{
        margin: 40px auto;
        width: 740px;
    }

    .managejob{
        font-weight: lighter;
        font-size: 36px;
    }

    .breadcrumb{
        margin-top: 10px;
        font-size: 13px;
        margin-left: 20px;
    }

    .jobinfo{
        background-color: white;
        padding: 20px;
        margin-top: 18px;
        border-radius: 4px;
    }

    .left{
        display: flex;
    }

    .jobtitle,
    .jobtype{
        font-weight: lighter;
    }

    .jobtitle{
        margin-top: 6px;
    }

    .jobtype{
        margin-left: 15px;
        border: 1px solid #2f7aeb;
        border-radius: 30px;
        padding: 7px;
        font-size: 14px;
        color: #2f7aeb;
    }

    .jobtop{
        display: flex;
        justify-content: space-between;

    }

    .right{
        display: flex;
    }

    .open{
        font-weight: lighter;
        background-color: #32a56f;
        color: whitesmoke;
        padding-top: 7px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 15px;
        font-size: 14px;
        margin-right: 7px;
    }
    .dot{
        font-weight: bolder;
        font-size: 23px;
        margin-top: -3px;
    }

    .dayposted{
        font-size: 13px;
        color: slategray;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .jobbottom{
        display: flex;
        justify-content: space-between;
    }

    .np{
        background-color: #2f7aeb;
        color: whitesmoke;
        padding: 5px;
        border-radius: 12px; 
    }

    .vp{
        padding: 10px;
        border: none;
        border-radius: 7px;
        background-color: #2f7aeb;
        color: whitesmoke;
    }

    .next{
        width: 740px;
        margin: 20px auto;
        display: flex;
        justify-content: space-evenly;
    }

    .sfreelancer{
        width: 365px;
        height: 160px;
        background-color: white;
        border: 2px solid  #13bd68;
        border-radius: 5px;
    }

    .postjob{
        width: 365px;
        height: 160px;
        background-color: white;
        border: 2px solid  #2f7aeb;
        border-radius: 5px;
    }

    .pb{
        margin:60px 130px;
        background-color: #2f7aeb;
        padding: 10px;
        text-align: center;
        color: whitesmoke;
        width: 100px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
    }

    .sf{
        margin:20px 50px;
        width: 260px;
        height: 35px;
        border: 1px solid rgba(112, 128, 144, 0.377);
        border-radius: 5px;
        box-shadow: 0px 1px 1px 1px rgba(54, 56, 58, 0.171) inset;
    }

    .sf2{
        margin-left: 70px;
        font-size: 18px;
    }

    .sf3{
        margin:40px auto;
    }

    .help{
        width: 740px;
        margin: 20px auto;
        padding: 20px;
        border: none;
        background-color: white;
        color: whitesmoke;
        border-radius: 5px;
    }

    .help h1{
        color: black;
        font-size: 18px;
        font-weight: 600;
    }

    .help h3 a{
        font-size: 15px;
        font-weight: lighter;
        text-decoration: none;
        color: #2f7aeb;
    }

    .q2{
        margin-top: 20px;
    }

    .q{
        color: black;
        font-size: 15px;
        font-weight: lighter;
    }

    .footer{
        display: flex;
        justify-content: space-evenly;
        margin-top: 120px;
        padding-bottom: 20px;
        width: 740px;
        margin:150px auto;
    }

    .footer h1{
        font-size: 18px;
        color: #0000009f;
    }

    .footer h4{
        font-size: 14px;
        font-weight: lighter;
        margin-top: 15px;
        
    }
    .footer li{
    list-style: none;
    margin-left: 15px;
    margin-top: 3px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.541);
}
}

@media screen and (min-width:0px) and (max-width:767px) {
    header{
        width: 100%;
        margin: auto;
        background-color: #0f121f;
        color: whitesmoke;
        padding: 20px;
    }
    
    .top{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: auto;
    }

    .menu{
        font-size: 30px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-top: 0;
        background-color: transparent;
        color: grey ;
        text-align: center;
        border: 1px solid grey;
        border-radius: 5px;
        outline: none;
    }

    .menu:hover{
        color: #979696;
        background-color: #8080804f;
        cursor: pointer;
    }

    .menuu{
        margin-top: 30px;
        display: none;
        width: 100%;
    }

    .menulist li{
        list-style: none;
        color: whitesmoke;
        padding: 10px;
        border-top: 1px solid grey;
        border-bottom:  1px solid grey;
        transition: .4s ease-in-out;
        -webkit-transition: .4s ease-in-out;
        -moz-transition: .4s ease-in-out;
        -o-transition: .4s ease-in-out;
    }

    .menulist li:hover{
        background-color: #7080906e;
        transition: .4s ease-in-out;
        -webkit-transition: .4s ease-in-out;
        -moz-transition: .4s ease-in-out;
        -o-transition: .4s ease-in-out;
        cursor: pointer;
    }

    .menulist li:active{
        background-color: #708090d8;
    }

    .menulist li:last-child, 
    .menulist li:first-child{
        border: none;
    }

    .menulist li:nth-child(3){border: 1px;}

    .navbar{
        display: none;
    }
    
    .logo{
        font-size: 1.8em;
        text-shadow: 0px 0px 2px whitesmoke;
        float: left;
    }

    .profile{
        background-color: #6494ed70;
        list-style: none;
        padding: 20px;
        position: absolute;
        margin-left: 60px;
        margin-top: -12px;
        float: right;
    }
    
    sup{
        position: absolute;
        background-color: #5895f0;
        width: 30px;
        padding: 3px;
        text-align: center;
        margin-left: 13px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-size: 11px;
    }

    .bbutton,
    .bell,
    .info{
        display: none;
    }
    
    .bbutton{
        background-color: #2f7aeb;
        border-radius: 5px;
        height: 40px;
        border-radius: 5px;
        border: none;
        color: whitesmoke;
        margin-top: 5px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .content{
        margin: 40px auto;
        width: 90%;
    }

    .managejob{
        font-weight: lighter;
        font-size: 30px;
    }

    .breadcrumb{
        margin-top: 10px;
        font-size: 13px;
        margin-left: 20px;
    }

    .jobinfo{
        background-color: white;
        padding: 20px;
        margin-top: 18px;
        border-radius: 4px;
    }

    .left{
        display: block;
    }

    .jobtitle{
        margin-top: 4px;
        font-size: 15px;
        font-weight: lighter;
    }

    .jobtype{
        border: 1px solid #2f7aeb;
        border-radius: 30px;
        font-size: 13px;
        font-weight: lighter;
        color: #2f7aeb;
        margin-top: 10px;
        text-align: center;
        width: auto;
        padding: 3px;
        position: absolute;
    }

    .jobtop{
        display: flex;
        justify-content: space-between;
    }

    .right{
        display: flex;
    }

    .open{
        position: absolute;
        font-weight: lighter;
        background-color: #32a56f;
        color: whitesmoke;
        padding-top: 3px;
        padding-left: 3px;
        padding-right: 3px;
        padding-bottom: 4px;
        border-radius: 15px;
        font-size: 13px;
        margin-left: -50px;
        text-align: center;
    }
    .dot{
        font-weight: bolder;
        font-size: 23px;
        margin-top: -9px;
    }

    .dayposted{
        font-size: 12px;
        color: slategray;
        margin-top: 55px;
        margin-bottom: 10px;
    }

    .jobbottom{
        display: flex;
        justify-content: space-between;
    }

    .np{
        background-color: #2f7aeb;
        color: whitesmoke;
        padding: 5px;
        border-radius: 12px; 
    }

    .vp{
        padding: 7px;
        border: none;
        border-radius: 7px;
        background-color: #2f7aeb;
        color: whitesmoke;
        font-size: 12px;
    }

    .pp{
        font-size: 13px;
    }

    .vp2{
        display: none;
    }

    .next{
        width: 100%;
        margin: 20px auto;
        display: block;
        justify-content: space-evenly;
    }

    .sfreelancer{
        width: 100%;
        height: 160px;
        background-color: white;
        border: 2px solid  #13bd68;
        border-radius: 5px;
        margin: auto;
    }

    .postjob{
        width: 100%;
        height: 160px;
        background-color: white;
        border: 2px solid  #2f7aeb;
        border-radius: 5px;
        margin:20px auto;
    }

    .pb{display: flex;
        justify-content: center;
        margin:60px auto;
        background-color: #2f7aeb;
        padding: 15px;
        text-align: center;
        color: whitesmoke;
        width: 130px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        text-align:  center;
    }

    .pb:hover{
        outline: 3px solid #2f7aeb;
        outline-offset: 5px;
        cursor: pointer;
    }

    .sf{
        display: flex;
        justify-content: center;
        margin: auto;
        width: 90%;
        height: 35px;
        border: 1px solid rgba(5, 5, 5, 0.363);
        border-radius: 5px;
        box-shadow: 0px 1px 1px 0px rgba(69, 71, 71, 0.171) inset;
    }

    .sf2{
        font-size: 18px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .sf3{
        margin:40px auto;
    }

    .help{
        width: 100%;
        padding: 20px;
        border: none;
        background-color: white;
        color: whitesmoke;
        border-radius: 5px;
    }

    .help h1{
        color: black;
        font-size: 18px;
        font-weight: 600;
    }

    .help h3 a{
        font-size: 15px;
        font-weight: lighter;
        text-decoration: none;
        color: #2f7aeb;
    }

    .q2{
        margin-top: 20px;
    }

    .q{
        color: black;
        font-size: 15px;
        font-weight: lighter;
    }

    .footer{
        display: block;
        padding-bottom: 20px;
        width: 100%;
        margin-left: 20px;
    }

    .footer h1{
        font-size: 18px;
        color: #0000009f;
        margin-top: 20px;
    }

    .footer h4{
        font-size: 14px;
        font-weight: lighter;
        margin-top: 15px;
        
    }   
    .footer li{
    list-style: none;
    margin-left: 15px;
    margin-top: 3px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.541);
    }
}