    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    
    body {
        font-family: helvetica;
        width: 1000px;
        margin: auto;
        scroll-behavior: smooth;
        scrollbar-width: 1px;
    }
    
    .top {
        margin: auto;
        position: top;
        width: 100%;
        height: 80px;
        background-color: white;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .headcontent {
        display: flex;
        justify-content: space-between;
    }
    
    .logo {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 25px;
        width: 10%;
    }
    
    .logo .l1 {
        color: #1b971be0;
    }
    
    .menu {
        display: flex;
    }
    
    .menu ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        width: 100%;
        padding-top: 25px;
        padding-right: 35px;
    }
    
    ul li {
        padding-left: 15px;
        padding-right: 15px;
        color: #000000b6;
        cursor: pointer;
    }
    
    ul li:hover {
        padding-left: 15px;
        padding-right: 15px;
        color: black;
        cursor: pointer;
    }
    
    li:hover .menuline {
        display: block;
        animation-name: moveup;
    }
    
    .menuline {
        width: 30px;
        border: 2px solid #1b971be0;
        margin-top: 7px;
        border-radius: 3px;
        display: none;
        animation-duration: .5s;
    }
    
    @keyframes moveup {
        0% {
            width: 5px;
        }
        70% {
            border: 2px solid black;
        }
        100% {
            width: 30px;
        }
    }
    
    .login {
        width: 130px;
        height: 40px;
        background-color: black;
        color: white;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 1px 5px #8080809c;
        font-size: 15px;
    }
    
    .login:hover {
        background-color: #1b971be0;
        border: 1px solid #1416149c;
        cursor: pointer;
        transition: .3s;
    }
    
    .log {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .bighead {
        display: flex;
        width: 100%;
        height: 500px;
    }
    
    .intro {
        width: 30%;
        background-color: white;
        padding-top: 130px;
        padding-left: 10px;
    }
    
    .intro p {
        color: rgba(0, 0, 0, 0.644);
    }
    
    .illus {
        width: 70%;
    }
    
    .learnmore {
        width: 120px;
        height: 40px;
        border: none;
        border-radius: 10px;
        background-color: #1b971be0;
        color: white;
        box-shadow: 0px 1px 5px #8080809c;
        font-size: 15px;
    }
    
    .learnmore:hover {
        background-color: transparent;
        color: #1b971be0;
        cursor: pointer;
        box-shadow: 0px 2px 5px #1b971be0;
        transition-duration: 0.3s;
    }
    
    .wwd {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 85%;
        margin-top: 40px;
    }
    
    .wwdimg {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        margin: auto;
    }
    
    .box {
        width: 32%;
        box-shadow: 0px 0px 3px #1b971be0;
        height: 330px;
        border-radius: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }
    
    input::placeholder {
        color: #1b971b81;
    }
    
    .box:hover {
        box-shadow: 0px 0px 3px #1b971be0;
    }
    
    .box h2,
    .box p {
        text-align: center;
    }
    
    .box h2 {
        color: #1b971be0;
        font-size: 20px;
    }
    
    .whyus {
        display: flex;
        margin: 100px auto;
        background-color: #7ae27a31;
        border-radius: 20px;
        height: 420px;
    }
    
    .wtext {
        width: 40%;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        overflow: scroll;
        scroll-behavior: smooth;
        scrollbar-color: black;
        scrollbar-shadow-color: #7ae27a31;
        height: 100%;
    }
    
    .wtext h2 {
        color: #1b971be0;
        margin-bottom: 40px;
    }
    
    .wtext p {
        color: #000000b6;
    }
    
    .wimg {
        width: 60%;
    }
    
    .wimg img {
        border-radius: 20px;
        margin: -20px auto;
        box-shadow: -2px 0px 5px grey;
    }
    
    .aboutus {
        background-color: #125a12e0;
    }
    
    .atext p {
        color: #ffffffc0;
    }
    
    .atext h2 {
        color: whitesmoke;
    }
    
    .fbks {
        width: 100%;
        background-image: url('/PROJECTS/FLX/victoria-kubiaki-t0Aio60jD4Q-unsplash.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        height: 270px;
        border-radius: 20px;
    }
    
    .fbkshadee {
        display: flex;
        justify-content: space-between;
    }
    
    .fbkshade {
        width: 100%;
        height: 100%;
        background-color: #1416149c;
        border-radius: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .fb {
        width: 120px;
        height: 120px;
        border: 6px solid #1b971be0;
        border-radius: 100%;
        margin-top: 20px;
    }
    
    .score {
        margin: 40px auto;
        display: flex;
        justify-content: center;
        color: #ffffffd5;
    }
    
    .scrange {
        text-align: center;
        color: #ffffffd5;
        margin-top: -12px;
    }
    
    .candrq {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
    }
    
    .contact {
        width: 35%;
        height: 300px;
        background-color: black;
        border-radius: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        background: linear-gradient( to top left, #97f797e0 0%, #1b971be0 100%, #21bd21e0 31%, #44b444e7 100%);
        background: -webkit-linear-gradient( to top left, #97f797e0 0%, #1b971be0 100%, #21bd21e0 31%, #44b444e7 100%);
        background: -moz-linear-gradient( to top left, #97f797e0 0%, #1b971be0 100%, #21bd21e0 31%, #44b444e7 100%);
        background: -o-linear-gradient( to top left, #97f797e0 0%, #1b971be0 100%, #21bd21e0 31%, #44b444e7 100%);
    }
    
    .contact h2,
    .contact h3 {
        color: whitesmoke;
    }
    
    .contact h4 {
        font-weight: lighter;
        color: whitesmoke;
    }
    
    .address {
        color: #000000b6;
        margin-top: 40px;
    }
    
    .quote {
        width: 60%;
        box-shadow: 0px 1px 20px#1b971b57;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        border-radius: 20px;
    }
    
    .qform {
        margin-top: 20px;
    }
    
    .flexinput {
        display: flex;
        justify-content: space-evenly;
    }
    
    .fgroup {
        box-shadow: 0px 0px 2px #1b971be0;
        width: 100%;
        padding-bottom: 8px;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 10px;
    }
    
    input {
        height: 50px;
        width: 260px;
        padding-left: 5px;
        border-radius: 5px;
        border: 2px solid grey;
        font-size: 17px;
        outline: none;
        color: #000000cc;
    }
    
    textarea {
        border: 2px solid grey;
        border-radius: 5px;
        padding-left: 5px;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-right: 5px;
        font-size: 17px;
        color: #000000cc;
        resize: none;
    }
    
    input:focus,
    textarea:focus {
        border: 2px solid #1b971be0;
        outline: none;
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-duration: .5s;
    }
    
    label {
        color: #1b971be0;
    }
    
    .submit {
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 10px;
        background-color: #1b971be0;
        color: white;
        box-shadow: 0px 1px 5px #8080809c;
        font-size: 15px;
        margin: 30px auto;
        justify-self: center;
    }
    
    .submit:hover {
        background-color: black;
        color: #1b971be0;
        border: 2px solid #1b971be0;
        cursor: pointer;
        transition: 0.2s;
    }
    
    .reviews {
        display: flex;
        justify-content: space-between;
    }
    
    .rvs {
        display: flex;
        width: 320px;
        height: 170px;
        box-shadow: 1px 2px 5px grey;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        border-radius: 20px;
        margin-top: 50px;
    }
    
    .rvv {
        margin-left: 10px;
        margin-top: 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #000000cc;
    }
    
    .rvs img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        margin-top: 10px;
    }
    
    .q {
        color: #1b971be0;
        margin-top: 10px;
    }
    
    .footer {
        width: 100%;
        height: 250px;
        background-color: #00000010;
    }
    
    .fdetails {
        padding: 30px;
    }
    
    .jb {
        display: flex;
        justify-content: center;
        color: white;
        background-color: #1b971be0;
        background: linear-gradient(top, #97f797e0 0%, #1b971be0 100%, #21bd21e0 31%, #44b444e7 100%);
        background: -webkit-linear-gradient(top, #97f797e0 0%, #1b971be0 100%, #21bd21e0 31%, #44b444e7 100%);
        background: -moz-linear-gradient(top, #97f797e0 0%, #1b971be0 100%, #21bd21e0 31%, #44b444e7 100%);
        background: -o-linear-gradient(top, #97f797e0 0%, #1b971be0 100%, #21bd21e0 31%, #44b444e7 100%);
        border: 1px solid #255c25e0;
        border-radius: 5px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
    }